{% extends 'base.html.twig' %}

{% block title %}START QUIZZ{% endblock %}

{% block body %}

        <div class="box">
            <a href="{{ path('app_quizz_color')}}">
                <button class="button button--tamaya button--round-s button--text-thick button--border-thin" data-text="Start" href="{{ path('app_quizz_color')}}"><span>Quizz</span></button>
            </a>
        </div>

{% endblock %}
