@media screen and (min-width: 576px) and (max-width: 991px) {
	.responsive-gallery-col1{
		display: flex;
		.rightImg{
			margin-left: 9%;
		}
	}
	.responsive-gallery-col2{
		.item1{
			margin-top: 0%;
		}
		.item2{
			margin-top: 5%;
		}
		.item3{
			margin-top: 5%;
		}
		.item4{
			margin-top: 5%;
		}
		.item5{
			margin-top: 5%;
		}
		.item6{
			margin-top: 5%;
		}
		.item7{
			margin-top: 5%;
		}
		.item8{
			margin-top: 5%;
		}
	}
}