.imgLogIn{
    background-image: url('../images/Blanc Confort Court Opaque Feu.png' ); 
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    width: 100%;
}
.imgRegister{
    background-image: url('../images/Noir Liberté Long Opaque Eau.png' ); 
    background-position: center;
    background-size: cover;
}
.taller{
    height: 79vh;
}