<form class="mt-2" method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Vous voulez vraiment supprimer votre compte ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-outline-light">Supprimer mon compte</button>
</form>
