<form method="post" action="{{ path('app_quizz_delete', {'id': quizz.id}) }}" onsubmit="return confirm('Voulez-vous supprimer ce modèle ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quizz.id) }}">
    <button class="btn btn-outline-light mx-1">Supprimer</button>
</form>
